.container-1, .container-2 {
    border: 1px solid black;
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

.flex-box-container-1,.flex-box-container-2 {
    display: flex;
    border: 1px solid black;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.flex-box-container-1 div {
    display:flex;
    padding: 10px;
    align-items: center;
}

.flex-box-container-2 img {
    display:flex;
    margin: 10px;
    
}
.flex-box-container-1 button {
    display:flex;
    margin: 10px;
    
}
.flex-box-rps ing:hover{
    box-shadow: 0px 10px 50px rgba(37, 50, 233, 1);
}